# Sandbox

Where I can play around with some code.

In [15]:
import numpy as np
import pandas as pd
import re

from wrangle import acquire_data, join_dfs, drop_extra_cols

In [16]:
df = pd.read_csv('bachelorette-contestants.csv')
join = pd.read_csv('bachelorette_edit-to-join.csv')

In [24]:
df, join = acquire_data()
df = join_dfs(df, join)
#df = drop_extra_cols(df)

df.head(60)

,Name,Age,Occupation,Hometown,ElimWeek,Season,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
CONTESTANT,,,,,,,,,,,,,,,,,,,,,
1_RYAN_S,Ryan Sutter,29,Firefighter,"Vail, Colorado",NaN,1,NaN,NaN,NaN,NaN,...,NaN,D14,D1,D1,D1,D1,NaN,NaN,NaN,NaN
1_CHARLIE_M,Charlie Maher,28,Financial Analyst,"Hermosa Beach, California",6.0,1,NaN,NaN,NaN,NaN,...,NaN,D14,D1,D1,D1,D1,NaN,NaN,NaN,NaN
1_RUSS_X,Russ,30,Writer,"San Rafael, California",5.0,1,NaN,NaN,NaN,NaN,...,NaN,D14,D1,D1,D1,NaN,NaN,NaN,NaN,NaN
1_GREG_T,Greg T.,28,Importer,"Manhattan, New York",4.0,1,NaN,NaN,NaN,E,...,NaN,D14,D5,D1,NaN,NaN,NaN,NaN,NaN,NaN
1_BOB_G,Bob Guiney,31,Mortgage Broker,"Ferndale, Michigan",3.0,1,NaN,NaN,E,NaN,...,NaN,D14,D5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_JAMIE_B,Jamie Blyth,27,Professional Basketball Player,"Chicago, Illinois",3.0,1,NaN,NaN,E,NaN,...,NaN,D14,D5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_MIKE_X,Mike,24,Sales and Consulting,"Cincinnati, Ohio",3.0,1,NaN,NaN,E,NaN,...,NaN,D14,D5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_ROB_X,Rob,29,Computer Programmer,"Dallas, Texas",3.0,1,NaN,NaN,E,NaN,...,NaN,D14,D5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_BRIAN_C,Brian C.,28,Mortgage Broker,"Dallas, Texas",2.0,1,NaN,E,NaN,NaN,...,NaN,D14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_BRIAN_S,Brian S.,28,Sales Engineer,"Dallas, Texas",2.0,1,NaN,E,NaN,NaN,...,NaN,D14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_BROOK_X,Brook,29,Rodeo Cowboy,"Dallas, Texas",2.0,1,NaN,E,NaN,NaN,...,NaN,D14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_JACK_X,Jack,27,Firefighter,"Pepper Pike, Ohio",2.0,1,NaN,E,NaN,NaN,...,NaN,D14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_JEFF_X,Jeff,25,Professional Football Player,"San Diego, California",2.0,1,NaN,E,NaN,NaN,...,NaN,D14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_JOSH_X,Josh,31,Radio Advertising Executive,"Boca Raton, Florida",2.0,1,NaN,E,NaN,NaN,...,NaN,D14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_BRIAN_H,Brian H.,30,National Sales Manager,"Cleveland, Ohio",2.0,1,NaN,EQ,NaN,NaN,...,NaN,D14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_BILLY_X,Billy,28,Firefighter,"Hermosa Beach, California",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_BRIAN_K,Brian K.,31,Breast Implant Sales,"San Francisco, California",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_CHRIS_X,Chris,35,V.P. of Auto Parts Company,"Sugarloaf, Pennsylvania",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_DUANE_X,Duane,28,Flight Instructor,"Chisago City, Minnesota",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_ERIC_X,Eric,33,Commercial Pilot,"St. Louis, Missouri",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_GREGG_H,Gregg H.,34,Marble Company Owner,"Freehold, New Jersey",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_MATT_X,Matt,42,Gym Owner,"Marina Del Rey, California",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_PAUL_X,Paul,26,Telecommunications,"Honolulu, Hawaii",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_PETER_X,Peter,25,Construction Business Owner,"Long Island, New York",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1_WAYNE_X,Wayne,37,Commercial Pilot,"Sacramento, California",1.0,1,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_IAN_M,Ian McKee,29,Equity Research Sales,"New York, New York",NaN,2,NaN,NaN,NaN,NaN,...,NaN,D7,D1,D4,D1,D1,D1,NaN,NaN,NaN
2_MATTHEW_H,Matthew Hickl,28,Pharmaceutical Sales Rep,"Friendswood, Texas",8.0,2,NaN,NaN,NaN,NaN,...,NaN,D7,D7,D1,D1,D1,D1,NaN,NaN,NaN
2_CHAD_X,Chad,31,Pharmaceutical Sales Rep,"Buffalo, New York",6.0,2,NaN,NaN,NaN,NaN,...,NaN,D7,D7,D1,D1,D1,NaN,NaN,NaN,NaN
2_LANNY_X,Lanny,26,Stallion and Breeding Manager,"Aubrey, Texas",5.0,2,NaN,NaN,NaN,NaN,...,NaN,D7,D7,D1,D1,NaN,NaN,NaN,NaN,NaN
2_BRAD_X,Brad,29,Pharmaceutical Sales Rep,"Grand Rapids, Michigan",4.0,2,NaN,NaN,NaN,E,...,NaN,D7,D7,D4,NaN,NaN,NaN,NaN,NaN,NaN
2_RYAN_M,Ryan M.,30,Financial Advisor,"Santa Barbara, California",4.0,2,NaN,NaN,NaN,E,...,NaN,D7,D2,D4,NaN,NaN,NaN,NaN,NaN,NaN
2_SEAN_X,Sean,31,CPA,"Wall, New Jersey",4.0,2,NaN,NaN,NaN,E,...,NaN,D7,D7,D4,NaN,NaN,NaN,NaN,NaN,NaN
2_RICK_X,Rick,29,Business Manager,"San Diego, California",3.0,2,NaN,NaN,E,NaN,...,NaN,D1,D7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_RYAN_R,Ryan R.,29,Sales/Marketing,"Wynola, California",3.0,2,NaN,NaN,E,NaN,...,NaN,D7,D7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_TODD_X,Todd,36,Options Trader,"San Francisco, California",3.0,2,NaN,NaN,E,NaN,...,NaN,D7,D2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_DAMON_X,Damon,28,Arena Football Player,"Cardiff, California",2.0,2,NaN,E,NaN,NaN,...,NaN,D7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_ELIOT_X,Eliot,25,Options Trader,"Mountain View, California",2.0,2,NaN,E,NaN,NaN,...,NaN,D7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_HAROLD_H,Harold Hersh,29,Professional Hockey Player,"Rock Island, Illinois",2.0,2,NaN,E,NaN,NaN,...,NaN,D7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_MARCUS_X,Marcus,26,Personal Trainer,"Los Angeles, California",2.0,2,NaN,E,NaN,NaN,...,NaN,D7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_ROBERT_X,Robert,32,Alliance Development,"El Segundo, California",2.0,2,NaN,E,NaN,NaN,...,NaN,D7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_AARON_X,Aaron,32,Title and Escrow Sales,"Sacramento, California",1.0,2,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_ANDY_C,Andy Chang,33,Dentist,"Dallas, Texas",1.0,2,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_ANSELM_C,Anselm Clinard,32,Art Designer,"Venice, California",1.0,2,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_BRIAN_X,Brian,31,Attorney,"Quincy, Massachusetts",1.0,2,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_CHRIS_X,Chris,31,Accountant,"Boston, Massachusetts",1.0,2,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_CORY_H,Cory Higgins,24,Small Business Owner,"Long Beach Island, New Jersey",1.0,2,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_JUSTIN_X,Justin,25,Professional Baseball Player,"Orlando, Florida",1.0,2,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_KEITH_X,Keith,31,Financial Analyst,"Baltimore, Maryland",1.0,2,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2_TREVER_X,Trever,35,Restaurateur,"North Wales, Pennsylvania",1.0,2,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4_JESSE_C,Jesse Csincsak,26,Professional snowboarder,"Breckenridge, Colorado",NaN,4,R1,NaN,NaN,R,...,NaN,D7,D10,D1,D4,D1,D1,D1,NaN,NaN
4_JASON_M,Jason Mesnick,31,Account executive,"Cleveland, Ohio",8.0,4,NaN,NaN,R,NaN,...,NaN,D7,D1,D6,D4,D1,D1,D1,NaN,NaN
4_JEREMY_A,Jeremy Anderson,30,Real estate attorney,"Dallas, Texas",7.0,4,R1,R,NaN,NaN,...,NaN,D7,D10,D6,D1,D1,D1,NaN,NaN,NaN
4_GRAHAM_B,Graham Bunn,29,Professional basketball player,"Raleigh, North Carolina",6.0,4,NaN,R,NaN,NaN,...,NaN,D1,D10,D6,D4,D1,NaN,NaN,NaN,NaN
4_SEAN_R,Sean Ramey,33,Martial artist,"Louisville, Kentucky",5.0,4,NaN,NaN,NaN,R,...,NaN,D7,D10,D6,D1,NaN,NaN,NaN,NaN,NaN
4_BLAINE_T,Blaine Twilley,33,Debt manager,"Tulsa, Oklahoma",5.0,4,NaN,NaN,NaN,NaN,...,NaN,D7,D10,D6,D4,NaN,NaN,NaN,NaN,NaN
4_BRIAN_W,Brian Westendorf,31,High school football coach,"Balch Springs, Texas",4.0,4,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4_BRIAN_W,Brian Winchester,29,Computer network consultant,"New Castle, Indiana",1.0,4,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4_ROBERT_F,Robert Fair,28,Chef,"San Francisco, California",4.0,4,NaN,NaN,R,ED,...,NaN,D7,D10,D2,NaN,NaN,NaN,NaN,NaN,NaN
4_PAUL_B,Paul Brosseau,23,Sales manager,"Bonnyville, Alberta",3.0,4,NaN,R,E,NaN,...,NaN,D7,D10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4_RONALD_M,Ronald Mayer,36,Barber shop owner,"Greeley, Colorado",3.0,4,NaN,NaN,E,NaN,...,NaN,D7,D10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Get homestates
df['Homestate'] = df.Hometown.replace(to_replace = '(St. )?\w+( )?\w+( )?\w*(, )', value = '', regex = True)

# Print the updated dataframe 
df.head()

,Name,Age,Occupation,Hometown,ElimWeek,Season,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,...,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10,Homestate
CONTESTANT,,,,,,,,,,,,,,,,,,,,,
1_RYAN_S,Ryan Sutter,29,Firefighter,"Vail, Colorado",NaN,1,NaN,NaN,NaN,NaN,...,D14,D1,D1,D1,D1,NaN,NaN,NaN,NaN,Colorado
1_CHARLIE_M,Charlie Maher,28,Financial Analyst,"Hermosa Beach, California",6.0,1,NaN,NaN,NaN,NaN,...,D14,D1,D1,D1,D1,NaN,NaN,NaN,NaN,California
1_RUSS_X,Russ,30,Writer,"San Rafael, California",5.0,1,NaN,NaN,NaN,NaN,...,D14,D1,D1,D1,NaN,NaN,NaN,NaN,NaN,California
1_GREG_T,Greg T.,28,Importer,"Manhattan, New York",4.0,1,NaN,NaN,NaN,E,...,D14,D5,D1,NaN,NaN,NaN,NaN,NaN,NaN,New York
1_BOB_G,Bob Guiney,31,Mortgage Broker,"Ferndale, Michigan",3.0,1,NaN,NaN,E,NaN,...,D14,D5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Michigan

In [26]:
df.Homestate.value_counts()

California          47
Texas               25
Illinois            18
Massachusetts       10
Ohio                10
New York            10
Florida             10
Michigan             9
Colorado             9
New Jersey           8
Pennsylvania         7
Missouri             7
Washington           6
Kansas               6
Arizona              5
Georgia              5
Minnesota            5
Connecticut          4
Wisconsin            4
North Carolina       3
Alberta              3
Virginia             3
Tennessee            3
Ontario              3
Oklahoma             3
Oregon               3
Indiana              3
Iowa                 3
Rhode Island         3
Idaho                3
Maryland             2
Kentucky             2
Utah                 2
South Carolina       2
England              2
Mississippi          2
Montana              2
British Columbia     2
Alaska               1
Alabama              1
Brazil               1
Vermont              1
New Mexico           1
Hawaii               1
Nova Scotia          1
Israel               1
Argentina            1
Louisiana            1
Name: Homestate, dtype: int64

In [7]:
states_regions = {
        'AK': 'O',
        'AL': 'S',
        'AR': 'S',
        'AS': 'O',
        'AZ': 'W',
        'CA': 'W',
        'CO': 'W',
        'CT': 'N',
        'DC': 'N',
        'DE': 'N',
        'FL': 'S',
        'GA': 'S',
        'GU': 'O',
        'HI': 'O',
        'IA': 'M',
        'ID': 'W',
        'IL': 'M',
        'IN': 'M',
        'KS': 'M',
        'KY': 'S',
        'LA': 'S',
        'MA': 'N',
        'MD': 'N',
        'ME': 'N',
        'MI': 'W',
        'MN': 'M',
        'MO': 'M',
        'MP': 'O',
        'MS': 'S',
        'MT': 'W',
        'NA': 'O',
        'NC': 'S',
        'ND': 'M',
        'NE': 'W',
        'NH': 'N',
        'NJ': 'N',
        'NM': 'W',
        'NV': 'W',
        'NY': 'N',
        'OH': 'M',
        'OK': 'S',
        'OR': 'W',
        'PA': 'N',
        'PR': 'O',
        'RI': 'N',
        'SC': 'S',
        'SD': 'M',
        'TN': 'S',
        'TX': 'S',
        'UT': 'W',
        'VA': 'S',
        'VI': 'O',
        'VT': 'N',
        'WA': 'W',
        'WI': 'M',
        'WV': 'S',
        'WY': 'W'
}

us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [11]:
for key in us_state_abbrev:
    df.loc[df['Homestate'].str.contains(key), 'HomestateAbbr'] = us_state_abbrev[key]

In [12]:
df.head()

,Name,Age,Occupation,Hometown,ElimWeek,Season,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,...,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10,Homestate,HomestateAbbr
CONTESTANT,,,,,,,,,,,,,,,,,,,,,
1_RYAN_S,Ryan Sutter,29,Firefighter,"Vail, Colorado",NaN,1,NaN,NaN,NaN,NaN,...,D1,D1,D1,D1,NaN,NaN,NaN,NaN,Colorado,CO
1_CHARLIE_M,Charlie Maher,28,Financial Analyst,"Hermosa Beach, California",6.0,1,NaN,NaN,NaN,NaN,...,D1,D1,D1,D1,NaN,NaN,NaN,NaN,California,CA
1_RUSS_X,Russ,30,Writer,"San Rafael, California",5.0,1,NaN,NaN,NaN,NaN,...,D1,D1,D1,NaN,NaN,NaN,NaN,NaN,California,CA
1_GREG_T,Greg T.,28,Importer,"Manhattan, New York",4.0,1,NaN,NaN,NaN,E,...,D5,D1,NaN,NaN,NaN,NaN,NaN,NaN,New York,NY
1_BOB_G,Bob Guiney,31,Mortgage Broker,"Ferndale, Michigan",3.0,1,NaN,NaN,E,NaN,...,D5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Michigan,MI

In [14]:
df.isna().sum()

Name                0
Age                 0
Occupation          0
Hometown            0
ElimWeek            9
Season              0
ELIMINATION-1     169
ELIMINATION-2     202
ELIMINATION-3     210
ELIMINATION-4     218
ELIMINATION-5     221
ELIMINATION-6     228
ELIMINATION-7     242
ELIMINATION-8     254
ELIMINATION-9     255
ELIMINATION-10    252
DATES-1           264
DATES-2           109
DATES-3           135
DATES-4           159
DATES-5           174
DATES-6           198
DATES-7           215
DATES-8           232
DATES-9           244
DATES-10          253
Homestate           0
HomestateAbbr       0
dtype: int64