# Exploring the Kaggle Datasets
### Bachelorette Predictor Project - Kwame Taylor

> *(October 14th, 2020):*
> 
> This Jupyter notebook will contain data preperation and data exploration of the Kaggle datasets from user <a href="https://www.kaggle.com/brianbgonz/the-bachelorette-contestants">brianbgonz</a>.
> 
> No goals as of now, just exploration to get a good look at the data -- so I can keep it in mind for future iterations of my project.

### Imports

In [18]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

**Import data from .csv to pandas DataFrame - Contestants from the Bachelorette past seasons**

In [2]:
# read the csv into a dataframe
df = pd.read_csv("bachelorette-contestants.csv")
df.head()

,Name,Age,Occupation,Hometown,ElimWeek,Season
0,Ryan Sutter,29,Firefighter,"Vail, Colorado",NaN,1
1,Charlie Maher,28,Financial Analyst,"Hermosa Beach, California",6.0,1
2,Russ,30,Writer,"San Rafael, California",5.0,1
3,Greg T.,28,Importer,"Manhattan, New York",4.0,1
4,Bob Guiney,31,Mortgage Broker,"Ferndale, Michigan",3.0,1

### Data Tidying

In [3]:
# check for nulls
df.isnull().sum()

Name           0
Age            0
Occupation     0
Hometown       0
ElimWeek      11
Season         0
dtype: int64

In [13]:
# show contestants who are missing ElimWeek
df[df.ElimWeek.isnull()]

,Name,Age,Occupation,Hometown,ElimWeek,Season
0,Ryan Sutter,29,Firefighter,"Vail, Colorado",NaN,1
25,Ian McKee,29,Equity Research Sales,"New York, New York",NaN,2
50,Jesse Csincsak,26,Professional snowboarder,"Breckenridge, Colorado",NaN,4
75,Ed Swiderski,29,Technology Consultant,"Monroe, Michigan",NaN,5
105,Roberto Martinez,26,Insurance Agent,"Tampa, Florida",NaN,6
130,J.P. Rosenbaum,34,Construction Manager,"Roslyn, New York",NaN,7
155,Jef Holm,27,Entrepreneur,"St. George, Utah",NaN,8
180,Chris Siegfried,27,Mortgage Broker,"McMinnville, Oregon",NaN,9
205,Josh Murray,29,Former Professional Baseball Player,"Athens, Georgia",NaN,10
230,Shawn Booth,28,Personal Trainer,"Windsor Locks, Connecticut",NaN,11
256,Jordan Rodgers,27,Former Pro Quarterback,"Chico, California",NaN,12

> I'll replace NaNs with 0.0 for now. Those contestants may have quit the show, or been disqualified outside of rose ceremony elimination. I'll look into that later.

In [ ]:
df = df.fillna()

### Train, Validate, Test Split

### Data Visualization

In [23]:
sns.heatmap(df)

TypeError: '<=' not supported between instances of 'str' and 'int'